body,
html {
    margin: 0;
}

.navbar {
    background: linear-gradient(to right, #E6E2F3, #AED9E0);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.search-bar {
    padding: 10px;
    align-self: center;
    width: 400px;
}

.search-bar input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 16vh;
    align-items: center;

}

.synonym-container {
    margin-top: 90px;
    text-align: center;
}

.app .synonym-container h2 {
    margin-right: 900px;
}

.content-container {
    margin-top: 70px;
}

.synonym-container ul {
    list-style-type: none;

}